<template>
  <div class="flex flex-wrap px-4 sm:py-0 py-10 mt-4 lg:mt-10">
    <div class="w-full lg:w-1/2">
      <Hero />
    </div>
    <div class="w-full lg:w-1/2 mt-4 sm:mt-0">
      <div
        class="absolute right-10 lg:right-24 text-slate-600 top-14 lg:top-12"
      >
        <button
          @click="setActiveTab('CreateRoom')"
          :class="{ hidden: activeTab === 'CreateRoom' }"
          class=""
        >
          Create Room
        </button>
        <button
          @click="setActiveTab('JoinRoom')"
          :class="{ hidden: activeTab === 'JoinRoom' }"
          class=""
        >
          Join Room
        </button>
      </div>
      <div class="lg:ml-28 px-10 lg:px-20 py-4 lg:mt-[105px]">
        <component :is="tabs[activeTab]"></component>
      </div>
    </div>
  </div>
</template>

<script setup>
import Hero from "../components/Hero.vue";
import CreateRoom from "../components/CreateRoom.vue";
import JoinRoom from "../components/JoinRoom.vue";
import { ref } from "vue";

const activeTab = ref("CreateRoom");
const tabs = {
  JoinRoom: JoinRoom,
  CreateRoom: CreateRoom,
};

function setActiveTab(component) {
  activeTab.value = component;
}

localStorage.setItem("isJoined", "true");
</script>
