<template>
  <div>
    <Navbar :players="roomPlayers" />
    <div class="m-auto flex justify-center items-center mt-20 px-4">
      <Card :players="roomPlayers" />
    </div>
    <div class="flex justify-center items-center mt-5 mb-10">
      <div class="bg-red-200 px-20 py-20 lg:py-24 lg:px-80 rounded-2xl lg:mt-10">
        <div>
          <button class="py-2 px-6 bg-red-500 text-white rounded-lg">
            Show Card
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import Navbar from "@/components/Navbar.vue";
import Card from "@/components/Card.vue";
import { useCounterStore } from "../stores/counter";
import { ref, onMounted, onBeforeUnmount, onUnmounted } from "vue";
import { useRouter } from "vue-router";

const counterStore = useCounterStore();
const roomPlayers = ref([]);
const isPlayerJoined = ref(false);
const router = useRouter();
const roomId = ref("");

async function fetchRoomIdFromFirebase() {
  try {
    const roomIds = await counterStore.getRoomIdsFromFirebase();
    roomIds.value = roomIds
  } catch (error) {
    console.error("Error fetching room IDs from Firebase:", error);
  }
}

onBeforeUnmount(() => {
  localStorage.removeItem("isJoined");
});
onMounted(() => {
  fetchRoomIdFromFirebase();
  roomId.value = router.currentRoute.value.params.roomId;
  subscribeToRoomPlayers();
});

async function subscribeToRoomPlayers() {
  const roomRef = counterStore.roomRef.child(roomId.value).child("players");

  roomRef.on("value", (snapshot) => {
    const players = snapshot.val();
    roomPlayers.value = players ? Object.values(players) : [];
  });
}

onUnmounted(() => {
  const roomRef = counterStore.roomRef.child(roomId.value).child("players");
  roomRef.off("value");
});
</script>
