<template>
  <div class="relative">
    <div class=" overflow-x-auto w-50">
    <div class="flex flex-wrap">
      <div v-for="player in players" :key="player.roomId" class="bg-slate-200 w-20 h-28 rounded-md mx-2">
        <div class="flex flex-col items-center justify-end h-full">
          <div class="text-center text-slate-600">{{ player.name }}</div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>


<script setup>
import { defineProps } from "vue";

const props = defineProps(["players"]);
</script>
