<template>
  <div>
    <h2 class="text-lg font-medium text-slate-600">Create Room</h2>
    <form class="text-slate-600 text-sm" @submit.prevent="handleSubmit">
      <div class="mt-7">
        <label for="RoomName" class="">Room Name</label>
        <input
          v-model="roomName"
          type="text"
          id="RoomName"
          class="w-full p-2 mt-2 ring-1 rounded-md ring-slate-200 focus:ring-slate-500 focus:outline-none"
          placeholder="Room Name"
        />
      </div>
      <div class="mt-7">
        <label for="YourName" class="">Your Name</label>
        <input
          v-model="playerName"
          type="text"
          id="YourName"
          class="w-full p-2 mt-2 ring-1 rounded-md ring-slate-200 focus:ring-slate-500 focus:outline-none"
          placeholder="Your Name"
        />
      </div>
      <button
        type="submit"
        class="p-2 w-full bg-red-400 rounded-md flex items-center justify-center mt-7 text-white font-medium"
      >
        Create Room
      </button>
    </form>
  </div>
</template>

<script setup>
import { ref } from "vue";
import { useCounterStore } from "../stores/counter";
import { useRouter } from "vue-router";

const counterStore = useCounterStore();
const router = useRouter();

const roomName = ref("");
const playerName = ref("");

async function handleSubmit() {
  try {
    const roomId = await counterStore.createRoom(
      roomName.value,
      playerName.value
    );
    router.push(`/room/${roomId}`);
  } catch (error) {
    console.error("Error creating room:", error);
  }
}
</script>
