<template>
  <div>
    <h1 class="px-4 lg:px-20 text-lg">
      Planning With <span class="text-red-400">Love</span>
    </h1>
  </div>
  <div class="mt-10 lg:mt-20 px-10 lg:px-20 text-4xl font-semibold">
    <p>
      <span class="text-slate-700">PLANNING WITH</span>
      <span class="text-red-400">LOVE</span>
    </p>
  </div>
  <div class="mt-6 px-10 lg:px-20 text-sm">
    <p>Project ini adalah sebuah karya dari anak magang</p>
    <span class="font-semibold">PT BOOSTER TEKNOLOGI INDONESIA</span>
  </div>
  <div class="mt-8 px-16 lg:px-20">
    <img src="/public/img/vector.png" alt="vector" class="w-96" />
  </div>
</template>
