<template>
  <div>
    <h2 class="text-lg font-medium text-slate-600">Join Room</h2>
    <form class="text-slate-600 text-sm" @submit.prevent="handleSubmit">
      <div class="mt-7">
        <label for="RoomId">Room ID</label>
        <input
          v-model="roomId"
          type="text"
          id="RoomId"
          class="w-full p-2 mt-2 ring-1 rounded-md ring-slate-200 focus:ring-slate-500 focus:outline-none"
          placeholder="Room ID"
        />
      </div>
      <div class="mt-7">
        <label for="YourName">Your Name</label>
        <input
          v-model="playerName"
          type="text"
          id="YourName"
          class="w-full p-2 mt-2 ring-1 rounded-md ring-slate-200 focus:ring-slate-500 focus:outline-none"
          placeholder="Your Name"
        />
      </div>
      <button
        type="submit"
        class="p-2 w-full bg-red-400 rounded-md flex items-center justify-center mt-7 text-white font-medium"
      >
        Join Room
      </button>
    </form>
  </div>
</template>

<script setup>
import { ref } from "vue";
import { useCounterStore } from "../stores/counter";
import { useRouter } from "vue-router";

const counterStore = useCounterStore();
const router = useRouter();

const roomId = ref("");
const playerName = ref("");

async function handleSubmit() {
  const roomExists = await counterStore.checkRoomExists(roomId.value);
  if (roomExists) {
    const playerExists = await counterStore.checkPlayerExists(
      roomId.value,
      playerName.value
    );
    if (playerExists) {
      alert("Player already exists in the room");
    } else {
      await counterStore.joinRoom(roomId.value, playerName.value);
      router.push(`/room/${roomId.value}`);
    }
  } else {
    alert("Room does not exist");
  }
}
</script>
