<template>
  <div class="flex items-center justify-between px-4">
    <h1 class="px-4 lg:px-20 text-lg mt-10">
      Planning With <span class="text-red-400">Love</span>
    </h1>
    <div class="flex justify-center items-center mt-10 lg:mt-4">
      <button @click="copyRoomId" class="py-2 px-2 lg:px-4 text-sm mr-1">Invite Friends</button>
      <button class="py-2 px-2 lg:px-4 text-sm mr-1">Restart</button>
      <button v-if="isRoomMaster" @click="deleteRoom" class="py-2 px-2 lg:px-4 text-sm">Delete Room</button>
      <button v-if="!isRoomMaster" @click="leaveRoom" class="py-2 px-2 lg:px-4 text-sm">Leave Room</button>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { useCounterStore } from "../stores/counter";
import { useRouter } from "vue-router";
import { defineProps } from 'vue';

const props = defineProps(["players"])
const counterStore = useCounterStore();
const router = useRouter();
const isRoomMaster = ref(false);
const storageKey = 'playerRole';

function checkPlayerRole() {
  const storedRole = localStorage.getItem(storageKey);
  if (storedRole === 'roomMaster') {
    isRoomMaster.value = true;
  } else {
    isRoomMaster.value = false;
  }
}

async function deleteRoom() {
  try {
    const roomDoc = await counterStore.getRoomDoc(router.currentRoute.value.params.roomId);
    if (roomDoc.exists) {
      await counterStore.deleteRoom(router.currentRoute.value.params.roomId);
      localStorage.removeItem(storageKey);
      router.push("/");
      console.log("Room deleted successfully");
    } else {
      console.log("Room does not exist");
    }
  } catch (error) {
    console.error("Error deleting room:", error);
  }
}

async function leaveRoom() {
  try {
    const currentPlayerId = await counterStore.getPlayerId();

    console.log('Attempting to leave room with ID:', router.currentRoute.value.params.roomId);

    if (!router.currentRoute.value.params.roomId || router.currentRoute.value.params.roomId === "") {
      console.error('Invalid room ID');
      return;
    }

    await counterStore.removePlayerFromRoom(router.currentRoute.value.params.roomId, currentPlayerId, currentPlayerId);
    localStorage.removeItem('storageKey'); // Ganti 'storageKey' dengan nama yang sesuai

    router.push("/");
    console.log("Left room successfully");
  } catch (error) {
    console.error('Error leaving the room:', error);
    alert("An error occurred while leaving the room");
  }
}


async function copyRoomId() {
  try {
    const roomExists = await counterStore.checkRoomExists(router.currentRoute.value.params.roomId);
    if (roomExists) {
      const roomId = router.currentRoute.value.params.roomId;
      const roomUrl = `${window.location.origin}/${roomId}`; 
      await navigator.clipboard.writeText(roomUrl);
      alert("Room URL copied to clipboard!");
    } else {
      console.log("Room does not exist");
    }
  } catch (error) {
    console.error("Error copying room URL:", error);
  }
}

onMounted(checkPlayerRole);
</script>