<template>
  <div id="app">
    <router-view :key="$route.fullPath" />
  </div>
</template>

<script setup>
import { onMounted, ref } from "vue";
import { useRouter } from "vue-router";
import { useCounterStore } from "./stores/counter";

const router = useRouter();
const counterStore = useCounterStore();
const roomIdParam = ref("");

onMounted(() => {
  const roomId = router.currentRoute.value.params.roomId;
  if (roomId) {
    roomIdParam.value = roomId;
    const playerName = window.localStorage.getItem("playerName");
    if (playerName) {
      counterStore.joinRoom(roomId, playerName);
    } else {
      router.push({ name: "Home" });
    }
  }
});

router.beforeEach((to, from, next) => {
  if (to.name === "RoomView") {
    const roomId = to.params.roomId || "";
    const playerName = window.localStorage.getItem("playerName");
    if (playerName && roomId === roomIdParam.value) {
      counterStore.joinRoom(roomId, playerName);
      roomIdParam.value = roomId;
    } else {
      router.push({ name: "Home" });
    }
  } else if (to.name === "Home") {
    if (roomIdParam.value) {
      counterStore.leaveRoom();
      roomIdParam.value = "";
    }
    window.localStorage.removeItem("playerName");
  }
  next();
});
</script>
